<h2>New Assessment</h2>
<%= form_for([current_user, @user.assessments.build]) do |f| %>
  <p>
    <%= f.label :score %><br>

    <%= f.select :score, (1..10) %><br>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>
