<h2>New Assessment</h2>
<%= form_for :assessment, url: welcome_index do |f| %>
  <p>
    <%= f.label :score %><br>
    <%= f.text_field :score %><br>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>
