<h1>You're not alone</h1>
<div class="well column"
  <p>Here are some resources to talk to someone about what's going on.</p>
  <p><a href='http://chat.suicidepreventionlifeline.org/GetHelp/LifelineChat.aspx'>Suicide Prevention Chat Line</a></p>
  <p> Call 1-800-273-8255 24 hours a day, 7 days a week.</p>
</div>
<p><%= link_to 'Back', root_url %></p>
