<h1>You're not alone</h1>
<div class="well column">
  <p>Here are some resources to talk to someone about what's going on.</p>
  <p><a href='http://chat.suicidepreventionlifeline.org/GetHelp/LifelineChat.aspx'>Suicide Prevention Chat Line</a></p>
  <p> Call 1-800-273-8255 24 hours a day, 7 days a week.</p>
  <a href="http://www.nami.org/Find-Support/NAMI-HelpLine#crisis">NAMI's crisis resources</a>
</div>
<h2>Additional Resources</h2>
<div class="well column">
  <a href="http://www.nami.org/#">NAMI-National Alliance on Mental Illness</a><br>
  <br>
  <a href="https://www.nimh.nih.gov/health/find-help/index.shtml">NIMH-National Institutes on Mental Health</a><br>
  <br>
  <a href="https://www.mentalhealth.gov/index.html">Health and Human Services</a>

</div>
<button><%= link_to 'Back', root_url %></button>
