<h2>Record one thing that made you smile today</h2>

<%= form_for([current_user, @user.memories.build]) do |f| %>
  <p>
    <%= f.label :narrative %><br>
    <div class="textbox">
      <%= f.text_area :narrative %><br>
    </div>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>
