/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: rgb(211, 200, 189);
  font-family: 'Raleway', sans-serif;
}
a {

  color: black;
}
.column {
  background-color: rgba(180, 204, 201, .9);
  border: 15px solid rgb(211, 200, 189);
}
.banner {
  background-color: rgba(163, 180, 140, .9);
  text-align: center;
}
nav {
  text-align: right;
}
.brand {
  font-family: 'Knewave', cursive;
  color: rgb(180, 204, 201);
  font-size: 2em;
}
.brand > a {
    color: rgb(180, 204, 201);
}
.tagline {
  font-family: 'Knewave', cursive;
  color: rgb(180, 204, 201);
}
table, td, th,tr {
  background-color: rgba(180, 204, 201, 1);
  text-align: center;
  border-spacing: 2px;
  border: 2px solid rgb(211, 200, 189);
