/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: rgb(176, 180, 140);
  font-family: 'Raleway', sans-serif;
  color: black;
}
a {

  color: black;
}
.column {
  background-color: rgba(35, 123, 178, 1);
  border: 15px solid rgb(176, 180, 140);
}
table, td, th,tr {
  /*background-color: rgba(38, 91, 255, .1);*/
  padding: 4px;
  text-align: center;
  border-spacing: 2px;
  border: 2px solid rgb(129, 133, 115);
}
.banner {
  background-color: rgba(114, 153, 61, .9);
  text-align: center;
  border: 0;
}
nav {
  text-align: right;
}
.brand {
  font-family: 'Indie Flower', cursive;
  color: rgb(255, 255, 210);
  font-size: 2em;
}
.brand > a {
    color: rgb(255, 255, 210);
}
.tagline {
  font-family: 'Indie Flower', cursive;
  color: rgb(255, 255, 210);
}
.strong {
  font-style: italic;
}
.textbox textarea {
  height: 50%;
  width: 50%;
  max-height: 20%;
  max-width: 50%;
}
